[submodule "modules/ColourDifference"]
	path = modules/ColourDifference
	url = git@github.com:LionTao/ColourDifference.git
[submodule "modules/PatternDifference"]
	path = modules/PatternDifference
	url = git@github.com:LionTao/PatternDifference.git
[submodule "modules/ImageFeatureExtract"]
	path = modules/ImageFeatureExtract
	url = git@github.com:LionTao/ImageFeatureExtract.git
[submodule "modules/CBIRDataset"]
	path = modules/CBIRDataset
	url = git@github.com:LionTao/CBIRDataset.git
