[submodule "modules/CBIRDataset"]
	path = modules/CBIRDataset
	url = https://github.com/LionTao/CBIRDataset.git
[submodule "modules/ColourDifference"]
	path = modules/ColourDifference
	url = https://github.com/LionTao/ColourDifference.git
[submodule "modules/ImageFeatureExtract"]
	path = modules/ImageFeatureExtract
	url = https://github.com/LionTao/ImageFeatureExtract.git
[submodule "modules/PatternDifference"]
	path = modules/PatternDifference
	url = https://github.com/LionTao/PatternDifference.git
[submodule "modules/CNN-CBIR"]
	path = modules/CNN-CBIR
	url = https://github.com/LionTao/CNN-CBIR.git
[submodule "modules/ImageFeatureVector"]
	path = ./modules/ImageFeatureVector
	url = https://github.com/LionTao/ImageFeatureVector.git
